body {
  max-width: 900px;   /* ancho determinado */
  margin: 0 auto;     /* centra el contenido en la página */
  text-align: center; /* centra el texto */
}

.logo {
  width: 180px;       /* ajuste del tamaño del logo */
  height: auto;
  display: block;
  margin: 1rem auto;
}